
body {
  background: linear-gradient(270deg, #00ffcd, #faff70, #47cfff);
  background-size: 600% 600%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
}


@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.card{
  height: auto;
  width: 80%;
  max-width: 400px;
  background: #f1f1f1;
  overflow: hidden;
  font-family: "montserrat",sans-serif;
  box-shadow: 0 0 20px #00000070;
}

#drag {
  position: absolute;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top-section{
  position: relative;
  height: 80px;
  background-color: turquoise;
}

.menuicon{
  position: absolute;
  width: 22px;
  left: 15px;
  top: 15px;
  cursor: pointer;
}
.menuicon span{
  width: 100%;
  height: 3px;
  background: #ffffff;
  position: relative;
  display: block;
  margin-bottom: 6px;
  opacity: .7;
  transition: .4s;
}
.menuicon .s1{
  left: -5px;
}
.menuicon .s2{
  left: 5px;
}
.menuicon:hover span{
  left: 0;
}
.name{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 36px;
  font-weight: 900;
  color: white;
}
.name span{
  text-transform: uppercase;
  font-weight: 600;
}

.info-section{
  padding: 40px;
  padding-top: 0;
  color: #333;
}
h2{
  position: relative;
  font-size: 16px;
}
.border{
  width: 30px;
  height: 3px;
  background: turquoise;
  position: absolute;
  left: 0;
  bottom: -6px;
}
p{
  text-align: justify;
  font-size: 16px;
}

.s-m{
  text-align: center;
  margin-top: 20px;
}
.s-m a{
  text-decoration: none;
  font-size: 20px;
  color: #555555;
  padding: 0 10px;
  transition: .4s;
}
.s-m a:hover{
  color: turquoise;
}

.s-m a span {
  font-family: "montserrat",sans-serif;
  font-size: 16px;
}
